totem {
         version: 2
         token: 1000
         rrp_mode: active
         transport: udpu
{% for ring in INTERFACES %}
         interface {
                 ringnumber: {{ loop.index0 }}
                 bindnetaddr: {{ ring['bindnetaddr'] }}
                 mcastport: {{ ring['mcastport'] }}
         }
{% endfor %}
}
nodelist {
{% for node in NODELIST %}
         node {
{% for addr in node %}
                 ring{{ loop.index0 }}_addr: {{ addr }}
{% endfor %}
                 nodeid: {{ loop.index }}
         }
{% endfor %}
}
logging {
         syslog_facility: {{ SYSLOG_FACILITY }}
         debug: off
}
quorum {
         provider: corosync_votequorum
         expected_votes: {{ groups['hacluster'] | length }}
}

